@{
    ViewData["Title"] = "Error404";
}
<br />
<br />
<div class="container">
    <div class="alert alert-info" role="alert">Page not found. <a asp-controller="Home" asp-action="Index" class="alert-link"> Return to Home</a></p></div>
</div>
