@{
    ViewData["Title"] = "Error404";
}
<h1>Sorry, page not found</h1>
<br />
<br />
<img src="~/images/gopher_head-min.png" />
<h2>Click <a asp-area="" asp-controller="Home" asp-action="Index">here</a> to go back to homepage.</h2>
