@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<div class="container body-content">
    <div class="alert alert-info" role="alert">Sorry, you are not authorized to perform this action. <a asp-controller="Home" asp-action="Index" class="alert-link">Return to Home</a></p></div>
</div>